---
import { format } from "date-fns";
import { marked } from "marked";

import Head from "#/components/Head.astro";
import { DATE_FORMAT } from "#/constants";
import { blogs } from "#/data";
import BaseLayout from "#/layouts/BaseLayout.astro";

export async function getStaticPaths() {
  return blogs.map(
    ({ body, metadata: { title, slug, estimatedReadingTime, createdAt } }) => ({
      params: {
        slug,
      },
      props: {
        body,
        title,
        estimatedReadingTime,
        createdAt: format(createdAt, DATE_FORMAT),
      },
    }),
  );
}

const { title, body, estimatedReadingTime, createdAt } = Astro.props;

// FIXME: Sanitize the HTML because I don't trust myself
const html = await marked.parse(body);
---

<!-- TODO: Add table of contents -->
<BaseLayout>
  <Head title={title} slot="head" />
  <article class="prose prose-p:text-justify normal-case">
    <hgroup>
      <p class="mt-0 text-sm opacity-50">
        {estimatedReadingTime} min read &middot; {createdAt}
      </p>
      <h1>{title}</h1>
    </hgroup>
    <Fragment set:html={html} />
  </article>
</BaseLayout>
